:root{
    --color:#232323
}


/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: inherit;
}

i{
    font-size: 12px;
    
}

/* utlis */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

}

/* debug */

.debug{
    min-height: 80px;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
}

/* header */
.top-bar{

    color: aliceblue;
    min-height: 120px;
    text-align: end;
    padding: 10px;
}

.top-bar span{
  
    background-color:#494949 ;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px;
}

.fa-anchor{
    margin-left: 10px;
    padding: 8px;
    background-color:#494949 ;
    border-radius: 8px;
}